<!DOCTYPE html>
<html lang="en" ng-app="resumeApp" ng-controller="resumeCtrl">
<head>
	<meta charset="UTF-8">
	<title>{{titleMain}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css?family=Arvo:400,400i" rel="stylesheet"> 
	<link rel="stylesheet" href="css/styles.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
	<script src="script/app.js"></script>
</head>
<body>
	<main>
		<header class="spacedVertUp spacedVertDown">
			<div class="row ">
				<div class="columns small-12 medium-6">
					<h1>{{titleMain}}</h1>	
				</div>				
				<div class="columns small-12 medium-6 contactInfo">
					<div class="street"><span class="adItem">{{address.street}}</span><span class="adItem">{{address.city}}</span> <span class="adItem">{{address.province}}</span><span class="adItem">{{address.postal}}</span>		</div>
					
					<div class="email"><span class="adItem">{{address.phone}} </span><span class="adItem">{{address.email}}</span>	</div>
				</div>
			</div>
		</header>
		<section class="education spacedVertUp">
			<div class="row">
				<div class="columns small-12">
					<h2 class="sectionTitle">Education</h2>
				</div>
			</div>
			<div class="row">
				<div class="educationItem Item columns small-12 " ng-repeat="education in educations">
					<h3 class="showContent">{{education.title}}</h3>
					<div class="hiddenContent">
						<h4>{{education.programTitle}}</h4>						
						<div class="Summary">{{education.Summary}}</div>
						<div class="Year">Graduated {{education.yearGraduate}}</div>
						<ul>
							<li ng-repeat="event in education.keyEvents">{{event.item}}</li>
						</ul>	
					</div>
					
						
				</div>					
			</div>
		</section>
		<section class="experience spacedVertUp">
			<div class="row ">
				<div class="columns small-12">
					<h2 class="sectionTitle">Professional Experience</h2>
				</div>
			</div>
			<div class="row">			
				<div class="experienceItem Item columns small-12" ng-repeat="experience in experiences | orderBy: 'experience.startDate':false">
					<h3 class="showContent">{{experience.title}}</h3>
					<div class="hiddenContent">
						<h4>{{experience.position}}</h4>
						<div class="Year">{{experience.startDate | date: 'longDate'}} - {{experience.endDate | date: 'longDate'}}</div
						>
						<p>{{experience.description}}</p>
						<ul>
							<li ng-repeat="event in experience.keyEvents">{{event.item}}</li>
						</ul>
						<strong class="sampleSitesHeader" ng-show="experience.sampleSites">*Recently built examples:</strong>
						<div class="clear"></div>
						<div ng-repeat="site in experience.sampleSites" class="sites columns smallCol small-12 medium-4 large-3 end">
							<div class="site">
								<div class="title">{{site.title}}</div>
								<div ng-repeat="url in site.urls">
									<a target="_blank" href="http://{{url.url}}">	
										<span>{{url.url}}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>			
			</div>
		</section>
		<section class="personal spacedVertUp">
			<div class="row">
				<div class="columns small-12">
					<h2 class="sectionTitle">Personal Experience</h2>
				</div>
			</div>
			<div class="row">			
				<div class="experienceItem Item columns small-12" ng-repeat="experience in experiencesPersonal | orderBy : '-experience.startDate'">
					<h3 class="showContent">{{experience.title}}</h3>
					<div class="hiddenContent">
						<h4>{{experience.position}}</h4>
						<div class="Year">{{experience.startDate | date: 'longDate'}} - {{experience.endDate | date: 'longDate'}}</div
						>
						<p>{{experience.description}}</p>
						<ul>
							<li ng-repeat="event in experience.keyEvents">{{event.item}}</li>
						</ul>
					</div>
				</div>			
			</div>
		</section>
	</main>
</body>
</html>